page-home {
	#welcome{
		background: color($colors, energy);
		
		h1{
			font-size: 52px;
			margin-top:20px
		}
		#displayNumber {
			color: #fff;
			text-align:right;
			padding:20px;
			font-size:30px;
		}
		.button {
			font-size: 2.4rem ;
			color:#000;
		}
	}
}
